/*Start global Rules*/
:root{
    --main-color: #f4ec2f;
    --secondary-color:#144892;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Work-Sans", sans-serif;
    
    margin: 0;
}

.container{
    
    padding-left:15px ;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

@media(min-width:768px){
    .container{
        width: 750px;
    }
}

@media(min-width:992px){
    .container{
        width: 970px;
    }
}

@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*End global Rules*/


 .header-area{
    position: relative;
    z-index: 2;
    color: #ffffff ;
    display: flex;
    padding: 10px;

}

.header-area .logo{
    width: 100px;
    padding: 15px;
    
}

.header-area .links-container{
    width: 100%;
    text-align: right;
}

.header-area .links{
    list-style: none;
    padding-left: 0;
    
    
}

.header-area .links li  {
    display: inline-block;
    margin-left: 10px;
}

.header-area .links li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main-color);
}

.header-area .toggle-menu {
    background: none;
    border:none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
    
}

.header-area .toggle-menu.menu-active:before{
    content:'';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -15px;
    left:10px;
    
}
.header-area .toggle-menu:focus{
    outline: none;
}

.header-area .toggle-menu span{
    display: block;
    width: 100%;
    background-color:#FFF ;
    height: 4px;
    margin-bottom: 4px;
}

@media(max-width:991px){
    .header-area .links{
        display:none;
    }
    .header-area .links-container .open{
        background-color: #fff;
        padding: 10px;
        display: block;
        position: absolute;
        left:0;
        top:50px;
        width:100%;
        border-radius: 4px;
    }
    
    .header-area .links-container .open li{
        display: block;
        margin: 10px;
        text-align: left;
    }

    .header-area .links-container .open li a{
        color: var(--main-color);
        font-weight: bold;
        
    }
    .header-area .toggle-menu{
        display:inline-block;
    }

}

.landing-page{
    background-image: url(../img/centreAfaire.jpg);
    height: calc(100vh);
    background-size: cover;
    position: relative;
}

.landing-page .overlay{
    background-color: rgba(128, 128, 128, 0.295);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.landing-page .bienvenu{
    text-align: center;
    position: absolute;
    z-index: 5;
    width: 700px;
    left: 50%;
    top: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing-page .bienvenu p{
    line-height: 1.8;
    font-size: 25px;
    font-weight: bold;
    color:#000;
    

}

.landing-page .bienvenu h1{
    color: var(--secondary-color);
    font-weight: bold;
    margin: 0;
    font-size: 80px;
}

/* End landing page */

/* Start tentez l'aventure*/
     .tentez-laventure .container{
         padding-top: 60px;
         padding-bottom: 60px;
         position: relative;
         min-height: 400px;
     }
     

     .tentez-laventure .box{
         position:absolute;
         top: 20px;
         left:  25px;
         width: 45%;
         

       }

       

     .tentez-laventure .box h1{
         margin: 10px;
         color: var(--secondary-color);
         font-size: 40px;
         font-weight: bold;
     }
     .tentez-laventure .box span,
     .tentez-laventure .box p{
         line-height: 1,8;
         font-size: 30px;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     }
      
     .tentez-laventure .col{
         position: absolute;
         right: 20px;
         top: 20px;
         width: 45%;
     }
     .tentez-laventure .col .image{
         position: relative;   
    }
    
    .tentez-laventure .col  .image::before{
        content: "";
        background-color: var(--main-color);
        width: 100px;
        height: calc(100% + 100px);
        position: absolute;
        top: -50px;
        right:160px;
        z-index:-1;
    
    }

    @media(max-width:1199px){
        .image-column{
             display: none;
        }
    }
     

/* End tentez l'aventure*/
/* Start conseiller*/
.conseiller{
    background-color: #ddd;
    padding-top: 60px;
    padding-bottom: 60px;
}

.conseiller h2{
    font-weight: bold;
    text-align: center;
    color: var(--secondary-color);
}

.conseiller .container-conseil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conseiller .container-conseil .box-conseil{
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: #f4ec2f solid 2px;
}

.conseiller .container-conseil .box-conseil i{
    color: var(--secondary-color);
    font-size: 50px;
}

/* Start conseiller*/

/* Start Contact us */
.contact{
    min-height: 600px;
    background-image: url('../img/terre.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.contact .overlay{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.6);
    /*background-color: rgb(255 255 255 / 60%); */
}

.contact .container{
    position: relative;
    z-index: 2;

}

.contact h2{
    font-weight: bold;
    font-size: 30px;
    color:var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}

.contact form{
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}

.contact form .left{
    float: left;
    width: 49%;
}

.contact form .right{
    float: right;
    width: 49%;
}

@media(max-width:767px){
    .contact form .left,
    .contact form .right{
        float: none;
        width: 100%;
    }
}

.contact form input:not([type="submit"]),
.contact form textarea{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border:1px solid #ccc;
    background-color:rgba(218, 218, 218, 0.19) ;

}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus{
    outline: 1px solid var(--main-color);

}

.contact form input{
    height: 40px;
}

.contact form textarea{
    height: 150px;
}

.contact form input[type="submit"]{
    padding: 10px;
    width: 100%;
    background-color: transparent;
    background-color: var(--main-color);
    cursor: pointer;
}

.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder{
    opacity: 0;
    transition: .3s;
}

.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder{
    opacity: 0;
    transition: .3s;
}

.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder{
    opacity: 0;
    transition: .3s;
}
/* End Contact us */
/* Start footer */
.footer{
    background-color: #333;
    color:#EEE;
    padding: 20px;
    text-align: center;

}

.footer img{
    width: 100px;
}

.footer .don i{
    color: var(--main-color);
}
/* End footer */




 

 
